:root {
    --main: #ffff11;
    color: white;
    font-size: 12px;
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: #E0BCB8;
}

@media screen and (min-width: 767px) {
    p {
        font-size: 2rem;
    }
}

img.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    object-fit: contain;
    max-width: 300px;
}

.center {
    text-align: center;
}

.text-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.home-message {
    margin: 0 10px 10px 10px;
}

@media screen and (min-width: 767px) {
    .home-message {
        margin: 0 20% 4vh 25%;
    }
}