@font-face {
    font-family: 'Figural Std';
    src: url('/fonts/FiguralStd-Medium.woff2') format('woff2'),
        url('/fonts/FiguralStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --main: #ffff11;
    color: white;
    font-size: 12px;
    font-family: "Figural Std";
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: #E0BCB8;
}

@media screen and (min-width: 767px) {
    p {
        font-size: 2rem;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: auto;
}

ul.navbar > li {
    margin: 0 10px;
}

ul.navbar > li a {
    font-size: 2rem;
    text-decoration: none;
}


img.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    object-fit: contain;
    max-width: 300px;
}

.center {
    text-align: center;
}

.no-underline {
    text-decoration: none;
}

.text-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.home-message {
    margin: 0 10px 10px 10px;
}

@media screen and (min-width: 767px) {
    .home-message {
        margin: 0 20% 4vh 20%;
    }
}